@import url('https://giscus.app/themes/dark.css');
@import url('./shared.css');

main {
	color-scheme: dark;
	--color-fg-default: #dfe1e4;
	--color-fg-muted: #a1a5ab;
	--color-fg-subtle: #9ca1a8;
	--color-canvas-default: #141516;
	--color-canvas-overlay: #1b2331;
	--color-canvas-inset: #1b2028;
	--color-canvas-subtle: #1b2028;
	--color-border-default: #2a3850;
	--color-border-muted: #2a3850;
	--color-accent-fg: #82aaff;
	--color-accent-emphasis: #82aaff;
}
